<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wikidota</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <span class="btn-category">
                <button class="image-button"><a href="http://127.0.0.1:5500/template/amenu.html" class="image-button">
                    <img src="./photo/menu-btn.png" alt="Menu button"/>
                </a>
                </button>
            </span>
    </header>


    <main>
        <sectiom class="mobile-block">
            <div class="mobile-block_header is-secondary">
                Список The International
            </div>
            <div class="error">
                <div class="container">
                    <h3 class="error-title">Произошла ошибка</h3>
                    <p class="error-description">Проверьте подключение к интернету. Возможно сервер отключился или временно не работает.</p>
                    <button class="white-btn">Обновить </button>
                </div>
            </div>
        </sectiom>
    </main>
</body>
</html>