<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wikidota</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <span class="btn-category">
                <button class="image-button"><a href="http://127.0.0.1:5500/template/amenu.html" class="image-button">
                    <img src="./photo/menu-btn.png" alt="Menu button"/>
                </a>
                </button>
            </span>
    </header>


    <main>
        <sectiom class="mobile-block">
            <div class="mobile-block_header is-secondary">
                Список The International
            </div>
            <div class="all-news-block">
                <div class="news-card">
                    <div class="container">
                        <h3 class="news-card__title">
                            The International 1 
                        </h3>
                        <span class="news-card__date">с 17 по 21 августа 2011 года</span>
                        <span class="news-card_category">Dota 2</span>
                        <button class="tag-button"><a href="http://127.0.0.1:5500/template/int1.html">Узнать</a></button>
                    </div>
                </div>
                <div class="news-card">
                    <div class="container">
                        <h3 class="news-card__title">
                            The International 2 
                        </h3>
                        <span class="news-card__date">с 26 августа по 2 сентября 2012 года</span>
                        <span class="news-card_category">Dota 2</span>
                        <button class="tag-button"><a href="http://127.0.0.1:5500/template/int2.html">Узнать</a></button>
                    </div>
                </div>
                <div class="news-card">
                    <div class="container">
                        <h3 class="news-card__title">
                            The International 3
                        </h3>
                        <span class="news-card__date"> с 3 по 12 августа 2013 года</span>
                        <span class="news-card_category">Dota 2</span>
                        <button class="tag-button"><a href="http://127.0.0.1:5500/template/int3.html">Узнать</a></button>
                    </div>
                </div>
                <div class="news-card">
                    <div class="container">
                        <h3 class="news-card__title">
                            The International 4
                        </h3>
                        <span class="news-card__date">с 18 по 21 июля 2014 года</span>
                        <span class="news-card_category">Dota 2</span>
                        <button class="tag-button"><a href="http://127.0.0.1:5500/template/int4.html">Узнать</a></button>
                    </div>
                </div>
                <div class="news-card">
                    <div class="container">
                        <h3 class="news-card__title">
                            The International 5
                        </h3>
                        <span class="news-card__date">с 3 по 8 августа 2015 года</span>
                        <span class="news-card_category">Dota 2</span>
                        <button class="tag-button"><a href="http://127.0.0.1:5500/template/int5.html">Узнать</a></button>
                    </div>
                </div>
                <div class="news-card">
                    <div class="container">
                        <h3 class="news-card__title">
                            The International 6
                        </h3>
                        <span class="news-card__date">в августе 2016 года</span>
                        <span class="news-card_category">Dota 2</span>
                        <button class="tag-button"><a href="http://127.0.0.1:5500/template/int6.html">Узнать</a></button>
                    </div>
                </div>
                <div class="news-card">
                    <div class="container">
                        <h3 class="news-card__title">
                            
                            The International 7
                        </h3>
                        <span class="news-card__date">в августе 2017 года</span>
                        <span class="news-card_category">Dota 2</span>
                        <button class="tag-button"><a href="http://127.0.0.1:5500/template/int7.html">Узнать</a></button>
                    </div>
                </div>
                <div class="news-card">
                    <div class="container">
                        <h3 class="news-card__title">
                            The International 8
                        </h3>
                        <span class="news-card__date">с 20 по 25 августа 2018 года</span>
                        <span class="news-card_category">Dota 2</span>
                        <button class="tag-button"><a href="http://127.0.0.1:5500/template/int8.html">Узнать</a></button>
                    </div>
                </div>
                <div class="news-card">
                    <div class="container">
                        <h3 class="news-card__title">
                            The International 9
                        </h3>
                        <span class="news-card__date">с 20 по 25 августа 2019 года</span>
                        <span class="news-card_category">Dota 2</span>
                        <button class="tag-button"><a href="http://127.0.0.1:5500/int9.html">Узнать</a></button>
                    </div>
                </div>
                <div class="news-card">
                    <div class="container">
                        <h3 class="news-card__title">
                            The International 10
                        </h3>
                        <span class="news-card__date">с 7 по 17 октября 2021 года</span>
                        <span class="news-card_category">Dota 2</span>
                        <button class="tag-button"><a href="http://127.0.0.1:5500/int10.html">Узнать</a></button>
                    </div>
                </div>
                <div class="news-card">
                    <div class="container">
                        <h3 class="news-card__title">
                            The International 11
                        </h3>
                        <span class="news-card__date"> с 20 по 23 и 29 по 30 октября 2022 года</span>
                        <span class="news-card_category">Dota 2</span>
                        <button class="tag-button"><a href="http://127.0.0.1:5500/int11.html">Узнать</a></button>
                    </div>
                </div>
                <div class="news-card">
                    <div class="container">
                        <h3 class="news-card__title">
                            The International 12
                        </h3>
                        <span class="news-card__date"> с 12 по 29 октября 2023 года</span>
                        <span class="news-card_category">Dota 2</span>
                        <button class="tag-button"><a href="http://127.0.0.1:5500/int12.html">Узнать</a></button>
                    </div>
                </div>
            </div>
        </sectiom>
    </main>
</body>
</html>