<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wikidota</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <span class="btn-category">
                <img src="./photo/menu-btn.svg" alt="Menu button"/>
            </span>
        </div>
    </header>


    <main>
        <sectiom class="mobile-block">
            <div class="back-button">
                <div class="container">
                   <img src="./photo/Frame.svg" alt="back icon"> 
                   Назад
                </div>
            </div>
            <div class="conatainer">
                <div class="post-detail-block">
                    <h3 class="news-card__title">
                        The International 2019
                    </h3>
                    <span class="news-card__date">20.08.2019</span>
                    <p class="description">
                        The International 2019 — 9-й розыгрыш чемпионата мира по компьютерной игре Dota 2 жанра MOBA. Был организован Valve, компанией-разработчиком данной игры. Проходил с 20 по 25 августа 2019 года в Китае. Первый в истории The International, состоявшийся в азиатской стране[1]. Матчи группового этапа проводились в отеле, где проживали участники турнира. Стадия плей-офф состоялась на Мерседес-Бенц-Арене (Шанхай) вместимостью 18 тыс. зрителей[2].</p>
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBC5eH79G5fh6jugut7JORSVCZzZwOErOiLw&s" alt="name"/>
                    <span class="author">Источник: <strong class="light-success-text">Wiki</strong></span>
                    <button class="tag-button"><a href="http://127.0.0.1:5500/template/index.html">Назад</a></button>
                </div>
            </div>
            
        </sectiom>
    </main>
</body>
</html>